#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    text-align: center;
    color: #efefef;
}

nav a:link {
    color: #efefef;
}

nav a:visited {
    color: #efefef;
}

a {
    text-align: center;
}

#hero-msg {
    text-align: center;
}

h1 {
    text-align: center;
}

#hero-msg {
    text-align: center;
}

#hero-img {
    width: 100%;
}

h4 {
    text-align: center;
    color: #efefef;
}

.button-box {
    text-align: center;
}

main {
    text-align: center;
}

section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #5a4ae3;
    color: #efefef;
}

body {
    background-color: #21a3fa;
    color: #efefef;
}

header {
    background-color: #21a3fa;
    color: #efefef;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    background-color: #21a3fa;
    color: black;
}

.book {
    background-color: #21a3fa;
    color: #efefef;
    text-decoration: none;
}

.join {
    background-color: #21a3fa;
    color: #efefef;
    text-decoration: none;
}

.book:hover {
    background-color: #21a3fa;
    color: black;
}

.join:hover {
    background-color: #21a3fa;
    color: black;
}

.msg {
    background-color: #21a3fa;
    color: #efefef;
}

footer {
    background-color: #21a3fa;
    color: #efefef;
}

.home-title {
    color: #efefef;
}

.msg h2 {
    color: #efefef;
}

.msg p {
    color: #efefef;
}

footer h3 {
    color: #efefef;
    text-decoration: underline;
}

footer a {
    color: #efefef;
    text-decoration: none;
}

footer a:hover {
    color: black;
    text-decoration: underline;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}