@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@500&family=Trade+Winds&display=swap');
:root {
    --heading-font: "Trade Winds";
    --paragraph-font: Spectral, Helvetica, sans-serif;
}

body {
    background-color: #21a3fa;
    color: #efefef;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #21a3fa;
    color: #efefef;
}

.home-title {
    color: #efefef;
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #21a3fa;
    color: black;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    text-align: center;
    color: #efefef;
}

nav a:link {
    color: #efefef;
}

nav a:visited {
    color: #efefef;
}

a {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0;
}

#hero-msg {
    text-align: center;
}

#hero-img {
    width: 100%;
}

h4 {
    text-align: center;
    color: #efefef;
}

.button-box {
    text-align: center;
}

main {
    text-align: center;
}

section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #5a4ae3;
    color: #efefef;
}

.book {
    background-color: #21a3fa;
    color: #efefef;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join {
    background-color: #21a3fa;
    color: #efefef;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #21a3fa;
    color: black;
}

.join:hover {
    background-color: #21a3fa;
    color: black;
}

.msg {
    background-color: #21a3fa;
    color: #efefef;
    font-size: .8em;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #21a3fa;
    color: #efefef;
    padding: 25px 50px;
    margin-top: 200px;
}

.msg h2 {
    color: #efefef;
    font-family: var(--heading-font);
}

.msg p {
    color: #efefef;
    font-family: var(--paragraph-font);
    padding-bottom: 15px;
}

footer h3 {
    color: #efefef;
    text-decoration: none;
}

footer a {
    color: #efefef;
    text-decoration: none;
}

footer a:hover {
    color: black;
    text-decoration: underline;
}

.logo {
    width: 80px;
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.social {
    padding-top: 15px;
}

main section img {
    box-sizing: border-box;
}

.card-img {
    border: 10px solid #1b998b;
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}